_book
target
*.iml
.idea/
*.log
node_modules
# Ignore Eclipse files
.classpath
.project
.settings/
#Ignore Pogues Front files
WebContent/static/
WebContent/index.html
WebContent/*.css
WebContent/*.map
WebContent/*.js
/bin/
#feature/conteneurisation
.m2
secrets/postgres_password.txt
src/main/resources/env/dev/pogues-bo.properties